<!DOCTYPE html>
{% extends 'tag_home.html' %}

{% load static %}
{% block body_block %}
    <div class="container">
        <h3><span class="label label-default active">RATING ENGINE - TEST BUILDS </span></h3>
        <br>
    <div class="row">
    <div class="col-sm-8">

 <!------------- TEST EXECUTION CONTAINER FOR RATING ENGINE ---------------------->
          <div class="panel panel-primary">
    <div class="panel-body">

    <!-- TEST BUILDS - RATING ENGINE AUTOMATION  start-->
<div class="row">
    <div class="col-sm-6">
     <h4>Build #1: { Rating Gender factors }</h4></div>
     <div class="col-sm-4">
     <button type="button" class="buildbt btn btn-primary collapsed" data-toggle="collapse" data-target="#genfact">Build now</button>
     </div>
    </div>
    <div class="row">
  <div id="genfact" class="collapse">
<div class="checkbox">
  <div class="list-group">
      <a href="#" class="list-group-item"><label><input class="gfclass" id="male" type="checkbox" name="gfdata[]" value="male">Male</label></a>
      <a href="#" class="list-group-item"><label><input class="gfclass" id="female" type="checkbox" name="gfdata[]" value="female">Female</label></a>
      <a href="#" class="list-group-item"><label><input class="gfclass" id="other"  type="checkbox" name="gfdata[]" value="other">Other</label></a>
  </div></div><br>
          <div class="col-sm-2">
            <p class="gftestexe"><button class="btn btn-primary">Execute</button></p>
            <div class="gfload"></div>
          </div>
      </div>
    </div>
  </div>
</div>

    </div>
    </div>


        <div class="row">
    <div class="col-sm-8">

 <!------------- TEST EXECUTION CONTAINER FOR RATING ENGINE ---------------------->
          <div class="panel panel-primary">
    <div class="panel-body">

    <!-- TEST BUILDS - RATING ENGINE AUTOMATION  start-->
<div class="row">
    <div class="col-sm-6">
     <h4>Build #2: { Rating Age factors }</h4></div>
     <div class="col-sm-4">
     <button type="button" class="buildbt btn btn-primary collapsed" data-toggle="collapse" data-target="#agefact">Build now</button>
     </div>
    </div>
    <div class="row">
  <div id="agefact" class="collapse">
      <div class="row">
      <div class="col-sm-3">Please select an option:</div>
  <div class="col-sm-4">
<select id="multi-select-demo" multiple="multiple">
    <option value="20">20-25</option>
    <option value="30">28-36</option>
    <option value="42">40-45</option>
    <option value="52">50-55</option>
    <option value="59">58-60</option>
</select></div>
          <div class="col-sm-2">
<input type="submit" onclick="getSelectedValues()" class="btn btn-primary" value="Execute">
          </div></div>
      </div>
    </div>
  </div>
</div>

    </div>
    </div>



    </div>



<!------------------------ TEST SUITE EXE HANDLER ------------------------------>
    <script>




$(document).ready(function() {

    var gendlwrap = $(".gfload");

    $('#multi-select-demo').multiselect({
        nonSelectedText: 'Select the age factor',
        buttonWidth: 250,
        includeSelectAllOption: true,
        maxHeight: 350,

    });


    var gfteststart = $(".gftestexe");
    var gfretest = $(".gfretestexe");
;

    var exestat = $(".exestat");

        $(gfteststart).click(function(e){
                $(gfteststart).hide();
                        e.preventDefault();

                        var gflist = [];
                        $('.gfclass:checked').each(function() {
                        gflist.push($(this).val());
                        });
                          $(gendlwrap).append('<div class="loading"><h5>Executing...</h5>\n' +
                    '<div class="loading-bar"></div>\n' +
                    '<div class="loading-bar"></div>\n' +
                    '<div class="loading-bar"></div>\n' +
                    '<div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +


                    '</div>');
                    document.location.href="{% url 'rating_chamber' %}"+"?gflist="+gflist;


        });

        $(asretest).click(function(e){
                $(asretest).hide();
                $(exestat).hide();
                        e.preventDefault();
                          $(aslwrap).append('<div class="loading"><h5>Executing...</h5>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +


                    '</div>');
                                  document.location.href="{% url "asset_end_to_end" %}"

        });

});

</script>

{% endblock %}