<!DOCTYPE html>
{% extends 'tag_home.html' %}

{% load static %}
{% block body_block %}
    <div class="container">
        <h3><span class="label label-default active">RATING ENGINE - TEST BUILDS </span></h3>
        <br>
    <div class="row">
    <div class="col-sm-8">

 <!------------- TEST EXECUTION CONTAINER FOR RATING ENGINE ---------------------->
          <div class="panel panel-primary">
    <div class="panel-body">
        {% if tstat == 'assetdone' %}
             <!--   <div class="row">
      <div class="col-sm-8"><h5>TEST FACTORS - RATING ENGINE </h5></div>
      <div class="col-sm-4">
         <p class="asretestexe"><button class="btn btn-primary active"><span class="glyphicon glyphicon-play"></span>Re-Run</button></p>
                    <div class="asload">
    </div>

      </div>
    </div>-->
    <div class="row">
        <div class="exestat">
               {% if tstat == 'assetdone' %}
              {% if testrep and logfile %}
  <blockquote>
      <h5><p class="text-success">Execution Completed successfully......</p></h5>
      <br>
    <footer>  <div class="col-xs-4"><a href="{% url 'download_log' %}"><button type="button" class="btn btn-default active">Download test log</button></a></div>
                      <div class="col-xs-3"><a href="{% url 'test_report' %}"><button type="button" class="btn btn-info active">View test report</button></a></div>
</footer>
  </blockquote>
              {% else %}
                    <blockquote>
    <p><code>Execution Failed.............please see below info</code></p>
                        <br>
    <footer>Problem might have been with test report/test log generation. Please contact admin for more clarity ..</p>

</footer>
  </blockquote>
              {% endif %}
          {% endif %}


        </div>
    </div>
            {% else %}
              <!--  <div class="row">
      <div class="col-sm-6"><h5>TEST FACTORS - RATING ENGINE </h5></div>
      <div class="col-sm-6">
                 <p class="astestexe"><button class="btn btn-primary"><span class="glyphicon glyphicon-play"></span> Run</button></p>
          <div class="asload">
    </div>
      </div>
    </div>-->
                {% endif %}
    <!-- TEST BUILDS - RATING ENGINE AUTOMATION  start-->
  <h4>Build #1: { Rating Gender factors }</h4>
  <button type="button" class="buildbt btn btn-primary collapsed" data-toggle="collapse" data-target="#genfact">Build now</button>
  <div id="genfact" class="collapse">
      <div class="row">
          <div class = "col-sm-8">
<div class="checkbox">
  <label><input type="checkbox" name="male" value="male">Male</label><br>
  <label><input type="checkbox" name="female" value="female">Female</label><br>
  <label><input type="checkbox" name="female" value="female">Other</label><br>
</div>
          </div>
          <div class="col-sm-4">
            <p class="astestexe"><button class="btn btn-primary"><span class="glyphicon glyphicon-play"></span>Run</button></p>
          </div>
      </div>
  </div>
</div>

    </div>
    </div>


    </div>



    </div>


<!------------------------ TEST SUITE EXE HANDLER ------------------------------>
    <script>

$(document).ready(function() {

    var aslwrap = $(".asload");



    var asteststart = $(".astestexe");
    var asretest = $(".asretestexe");
;

    var exestat = $(".exestat");

        $(asteststart).click(function(e){
                $(asteststart).hide();
                        e.preventDefault();
                          $(aslwrap).append('<div class="loading"><h5>Executing...</h5>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +


                    '</div>');
                                  document.location.href="{% url "asset_end_to_end" %}"

        });

        $(asretest).click(function(e){
                $(asretest).hide();
                $(exestat).hide();
                        e.preventDefault();
                          $(aslwrap).append('<div class="loading"><h5>Executing...</h5>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                    '  <div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +
                                            '  <div class="loading-bar"></div>\n' +


                    '</div>');
                                  document.location.href="{% url "asset_end_to_end" %}"

        });

});

</script>

{% endblock %}